.best {
  background-color: $colorbg;
  padding-bottom: 127px;
  &__title {
    text-align: center;
  }
  &__row {
    margin-top: 75px;
    justify-content: space-around;
    align-items: center;
  }
}
